*.pyc
*.pyo

/dist/
/*.egg-info
/build

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Virtualenv folder
/venv

.tox/
.ropeproject
.cache
.coverage
.coveralls.yml

# Sphinx documentation
docs/_build/
